/* universal */

body {
  padding-top: 60px;
}

textarea {
  resize: vertical;
}

h1 {
  margin-bottom: 10px;
}

img.film_poster.right {
  float: right;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: grey;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.icon {
  margin: 5px;
}

button {
 background:none;
 filter:none;
 box-shadow:none;
 border-radius:0px;
 border:none;
}

.shift {
  margin: 5px;
}

/* header */

.navbar-left a {
  position: absolute;
  text-decoration: none;
  color: white;
  left: 20px;
}

.navbar-left a:hover {
  color: #bbb;
}

.navbar-inverse li {
  float: right;
  margin-right: 20px;
  list-style-type: none;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid lightgray;
  color: gray;
  }

footer small {
  float: left;
}

/* forms */

form .btn {
  margin-right: 5px;
}

input, textarea, select, .slider {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

.text-help {
  color: red;
}
